<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form Absesnsi</title>

    <!-- cssfiles -->
    <link rel="stylesheet" href="style.css">
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

<form action="" method="POST" id="registrationForm">   
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mt-5 mb-5 ml-5 mr-5">
                    <div class="container border">
                            <h5 class="mt-5 text-center">FORM ABSENSI</h3>
                            <p class="text-center">RTIK CIREBON</p>
                            <div class="row">
                                <div class="col-lg-12">
                                    <label for="name"><b>Nama Lengkap</b></label>
                                    <input type="text" placeholder="Nama Lengkap" id="firstname" required>
                                </div>

                                <div class="col-lg-12">

                                    <label for="name"><b>E-mail</b></label>
                                    <input type="text" placeholder="E-Main" id="lastname" required>
                                </div>
                            </div>
                     <button type="submit" class="bg-primary registerbtn mb-5 mt-4">Absen</button>
                </div>
            </div>  
        </div>
    </div>
</form>
</body>
</html>